*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid gold; */
}
.my-heading{
    border: 3px solid green;
    width: 70%;
    margin: 10px 20px;
    padding: 20px;
    background-color: dodgerblue;
    color: white;
    text-align: center;
}
.title{
    margin-bottom: 1.5rem;
}
.desc{
    font-size: 1.5rem;
    text-decoration: overline;
}
#my-para{
    color: blueviolet;
}
h3, h4, h5{
    color: green;
    font-weight: bolder;
    font-size: 2rem;
}
h1.my-first-heading{
    color: aquamarine;
}
h2.my-second-heading{
    color: indigo;
}
[href]{
    color: chartreuse;
}
input{
    padding: 1rem;
}
::placeholder{
    color: yellow;
}
button{
    background-color: dodgerblue;
    border: none;
    padding: 1.5rem;  
}
.container p{
    color: blue;
}
.container-two >p{
    color: palevioletred;
}
