h4{
    color: blueviolet;
    border: 2px dotted darkolivegreen;
    padding: 30px;
}

span{
    border: 4px groove darkcyan;
    padding: 15px;
}
/* universal selector */
*{
    margin: 0;
    padding: 0;
}
/* element selector */
table{
    border-collapse: collapse;
    text-align: center;
    margin: 2rem;
}
tr{
    text-align: left;
}
th,
td{
    border: 2px solid #ddd9d9;
    padding: 12px;
    font-size: 1.5rem;
}
tr:nth-child(Odd) {
    background-color: white;
    color: cadetblue;
}
tr:nth-child(Even) {
    background-color: rgb(170, 80, 255);
    color: aqua;
}