* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* POSITION RELATIVE */
  .relative {
    background-color: red;
    color: white;
    padding: 3rem;
    position: relative;
    left: 100px;
  }
  /* POSITION RELATIVE */

/* POSITION ABSOLUTE */
.parent-container {
    border: 2px solid green;
    width: 60%;
    height: 150px;
    position: relative;
  }
  .child-container {
    border: 2px solid dodgerblue;
    width: 25%;
    height: 70px;
    margin: 1rem;
    position: absolute;
    right: 10px;
    bottom: 0;
  }
  /* POSITION ABSOLUTE */

  /* POSITION STICKY */
.sticky{
    position: sticky;
    background-color: red;
    padding: 20px;
    top: 0;
}
  /* POSITION STICKY */